{% extends "app/base.html" %}
{% block title %}Github App | Repo{% endblock %}
{% block content %}

<!--Some css styling-->
<style>
	.button {
		border-radius: 5px;
		border: 2px solid #e0e0e0;
		background-color: #aef279;
		height: 40px;
		width: 200px;
		margin-top: 100px;
		margin-left: 1050px;
		text-align: center;
		display: inline-block;
		font-family: verdana;
		color: white;
		font-size: 18px;
		clear: both;
	}
	.list_view {
		margin-top: 30px;
	}

	#header {
		margin-left: 20px;
		margin-bottom: 20px;
		color: #bdbcbc;
	}

	.search {
		margin-top: 20px;
		margin-left: 10px;
		max-width: 200px;
	}
</style>

<!--for listing the repositories -->
<div class="list_view">
<h2 id="header">Repositories</h2>
{% for key in data %}
<ul style="color: #388eaf">
	{{ key }}
</ul>
{% endfor %}
</div>

<!--Form for a search box -->
<form action="{% url 'search-repo' %}" method="POST" class="search">
{% csrf_token %}
<div class="ul_form">
	<div class="form-group">
		<label for="name"></label>
		<input id="title" type="text" placeholder="search" name="q" value="{{ q }}" class="form-control">
	</div>
<button type="submit" class="btn btn-default">Search</button>

<!--A link for a creating a new Repositories-->
<a href="{% url 'create-repo' %}" class="button">+ New Repository</a>
{% endblock %}